body {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: $mainTextColor;
    background-color: $mainWhiteColor;
}

.section {
    padding-top: 70px;
    outline: 1px solid navy;

    @media screen and (min-width: 768px) {
        padding-top: 100px;
    }

    @media screen and (min-width: 992px) {
        padding-top: 140px;
    }

    @media screen and (min-width: 1600px) {
        padding-top: 180px;
    }
}

.logo {
    font-size: 24px;
    color: $mainBlackColor;

    @media screen and (min-width: 575px) {
        font-size: 30px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 36px;
    }
}

.logo-gray {
    color: $logoColor;
}

.section-title {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: $mainBlackColor;

    @media screen and (min-width: 575px) {
        font-size: 30px;
    }

    @media screen and (min-width: 992px) {
        font-size: 36px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 48px;
    }
}