$mainWhiteColor: #ffffff;
$mainBlackColor: #000000;
$secondaryBlackColor: #263238;
$mainTextColor: #8F95A5;
$logoColor: #939393;
$numberColor: #2A3246;
$tagColor: #546269;
$duration: 250ms;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
