.header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-container {
    @media screen and (min-width: 992px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header-nav__list {
    @media screen and (min-width: 992px) {
        display: flex;
        gap: 30px;
    }
    
    @media screen and (min-width: 1600px) {
        gap: 50px;
    }
}

.header-nav__item {
    padding: 20px 0;
}

.header-nav__link {
    font-size: 16px;
    font-weight: 500;
    color: $accentColor;
    transition: color $duration $timingFunction;

    @media screen and (min-width: 1600px) {
        font-size: 20px;
    }
}

.header-nav__link:hover,
.header-nav__link:focus {
    color: $mainTextColor;
}