.pricing__title {
    margin-bottom: 50px;
}

.pricing__image {
    margin-bottom: 20px;
}

.pricing__image-1 {
    @media screen and (min-width: 575px) and (max-width: 767px) {
        width: 291px;
    }

    @media screen and (min-width: 768px) and (max-width: 992px) {
        width: 197px;
    }

    @media screen and (min-width: 992px) and (max-width: 1599px) {
        width: 222px;
    }

    @media screen and (min-width: 1600px) {
        width: 426px;
    }
}

.pricing__image-2 {
    @media screen and (min-width: 575px) and (max-width: 767px) {
        width: 314px;
    }

    @media screen and (min-width: 768px) and (max-width: 992px) {
        width: 219px;
    }

    @media screen and (min-width: 992px) and (max-width: 1599px) {
        width: 267px;
    }

    @media screen and (min-width: 1600px) {
        width: 426px;
    }
}

.pricing__image-3 {
    @media screen and (min-width: 575px) and (max-width: 767px) {
        width: 253px;
    }

    @media screen and (min-width: 768px) and (max-width: 992px) {
        width: 210px;
    }

    @media screen and (min-width: 992px) and (max-width: 1599px) {
        width: 242px;
    }

    @media screen and (min-width: 1600px) {
        width: 426px;
    }
}

.pricing__list {

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 50px;
        align-items: baseline;
    }
}

.pricing__item {
    @media screen and (max-width: 767px) {

        &:not(:last-child) {
            margin-bottom: 70px;
        }
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 50px) / 3);
    }
}

.pricing__subtitle {
    margin-bottom: 25px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: $mainBlackColor;

    @media screen and (min-width: 575px) {
        font-size: 24px;
    }

    @media screen and (min-width: 768px) {
        text-align: left;
        font-size: 20px;
    }

    @media screen and (min-width: 992px) {
        font-size: 22px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 30px;
    }
}

.pricing__text {
    text-align: center;
    @media screen and (min-width: 575px) {
        font-size: 14px;
    }

    @media screen and (min-width: 768px) {
        text-align: left;
    }

    @media screen and (min-width: 992px) {
        font-size: 16px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 20px;
    }
}

.pricing__wrap {
    border-radius: 5px;
    background-color: $priceBgColor;
}

.pricing__wrap-1 {
    @media screen and (max-width: 767px) {
        margin-top: 30px;
    }

    @media screen and (min-width: 768px) {
        margin-top: 30px;
    }
}

.pricing__wrap-2,
.pricing__wrap-3 {
    @media screen and (max-width: 767px) {
        margin-top: 30px;
    }

    @media screen and (min-width: 768px) {
        margin-top: 80px;
    }

    @media screen and (min-width: 992px) {
        margin-top: 78px;
    }
} 

.pricing__price {
    font-size: 18px;
    color: $accentColor;

    @media screen and (min-width: 575px) {
        font-size: 24px;
    }

    @media screen and (min-width: 768px) {
        font-size: 22px;
    }

    @media screen and (min-width: 992px) {
        font-size: 24px;
    }
}

.pricing__tag {
    font-size: 14px;
    color: $tagColor;

    @media screen and (min-width: 575px) {
        font-size: 16px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 18px;
    }
}