.skills__image {
    margin-bottom: 10px;
}

.skills__image-1 {
    @media screen and (min-width: 575px) and (max-width: 767px) {
        width: 185px;
    }

    @media screen and (min-width: 768px) and (max-width: 992px) {
        width: 214px;
    }

    @media screen and (min-width: 992px) and (max-width: 1599px) {
        width: 260px;
    }

    @media screen and (min-width: 1600px) {
        width: 390px;
    }
}

.skills__image-2 {
    @media screen and (min-width: 575px) and (max-width: 767px) {
        width: 182px;
    }

    @media screen and (min-width: 768px) and (max-width: 992px) {
        width: 200px;
    }

    @media screen and (min-width: 992px) and (max-width: 1599px) {
        width: 205px;
    }

    @media screen and (min-width: 1600px) {
        width: 390px;
    }
}

.skills__image-3 {
    @media screen and (min-width: 575px) and (max-width: 767px) {
        width: 198px;
    }

    @media screen and (min-width: 768px) and (max-width: 992px) {
        width: 216px;
    }

    @media screen and (min-width: 992px) and (max-width: 1599px) {
        width: 243px;
    }

    @media screen and (min-width: 1600px) {
        width: 390px;
    }
}

.skills__image-4 {
    @media screen and (min-width: 575px) and (max-width: 767px) {
        width: 206px;
    }

    @media screen and (min-width: 768px) and (max-width: 992px) {
        width: 202px;
    }

    @media screen and (min-width: 992px) and (max-width: 1599px) {
        width: 254px;
    }

    @media screen and (min-width: 1600px) {
        width: 408px;
    }
}

.skills__list {
    @media screen and (min-width: 575px) {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }
}

.skills__item {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: $itemBgColor;
    border-radius: 5px;

    @media screen and (max-width: 574px) {
        width: 290px;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    @media screen and (min-width: 575px) {
        flex-basis: calc((100% - 30px) / 2);
    }
}

.skills__subtitle {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    color: $accentColor;

    @media screen and (min-width: 768px) {
        font-size: 20px;
    }

    @media screen and (min-width: 992px) {
        font-size: 22px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 30px;
    }
}

.skills__text {
    @media screen and (min-width: 992px) {
        font-size: 14px;
    }
    
    @media screen and (min-width: 1600px) {
        font-size: 16px;
    }
}

.skills__text--first {
    margin-bottom: 10px;
}

.skills__link {
    display: inline-block;
    padding: 14px 42px;
    font-weight: 500;
    font-size: 14px;
    color: $mainWhiteColor;
    background-color: $accentColor;
    border-radius: 5px;

    transition: background-color $duration $timingFunction;

    @media screen and (max-width: 574px) {
        margin-top: 30px;
    }
}

.skills__link:hover,
.skills__link:focus {
    background-color: $mainBlackColor;
}